@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg{
    background-image: url("./assets/images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.PlayerRswp{
    background-color: #a3a3a3 !important;
}