@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg{
    background-image: url("./assets/images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.PlayerRswp{
    background-color: #a3a3a3 !important;
}

.trends-item{
    background-color: rgb(255, 255, 255,  10%);
}

.mucik-single{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/singke.img.png');
}